/* 
bacground colors:
top: #1a1c2b
bottom: #171924
 */
html {
    /* font-family: 'Roboto', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #171924;
}

body {
    margin: 0;
}

.dark {
    transition: all 0.5s ease;
}

.background-bar {
    width: 100%;
    height: 320px;
    top: 0;
    left: 0;
    background-color: #1a1c2b;
    border-radius: 0 0 20px 20px;
    position: fixed;
    z-index: -1;
}

.main {
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-container {
    /* width: 1450px;
    height: 1036px; */
    max-width: 1450px;
}

.cards-container,
.small-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-card,
.main-small-card {
    margin: 16px;
    background-color: #202741;
    width: 330px;
    border-radius: 6px;
    overflow: hidden;
}

.main-card:hover,
.main-small-card:hover {
    background-color: #303751;
    box-shadow: 0px 0px 10px #008df8;
}

.main-card {
    height: 280px;
}

.main-small-card {
    height: 160px;
}

.decoration-line {
    height: 5px;
}

.first {
    background-color: #008df8;
}

.second {
    background-color: #00a0f5;
}

.third {
    background: linear-gradient(70deg, #fec45e, #e24396);
}

.forth {
    background-color: #c70020;
}

.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fa-facebook-square,
.fa-twitter,
.fa-circle,
.rounded-box {
    font-size: 30px;
    margin-right: 14px;
}

.rounded-box {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background: linear-gradient(50deg, #fec45e, #e24396);
}

.fa-facebook-square {
    color: #028bf4;
}

.fa-twitter {
    color: #00a0f5;
}

.fa-circle {
    color: #c70020;
}

.social-nick {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
}

.social-counter {
    color: white;
    font-size: 70px;
    text-align: center;
}

.social-followers {
    letter-spacing: 6px;
}

.social-change {
    position: relative;
    font-size: 15px;
}

.small-cards-title {
    font-size: 32px;
    margin: 54px 16px 26px;
    color: white;
}


.small-card-content {
    height: 100%;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top,
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.counter {
    color: white;
    font-size: 40px;
}

.small-social-change {
    position: relative;
    font-size: 15px;
    margin-top: auto;
}

.fa-sort-up {
    bottom: -6px;
}

.fa-sort-down,
.fa-sort-up {
    position: absolute;
    left: -14px;
}

.label {
    font-size: 18px;
}

.icon i {
    margin: 0;
}

.grey {
    color: #8c98c9;
}

.green {
    color: #01b789;
}

.red {
    color: #df3d46;
}

/* header ---------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 60px;
}

.header-label {
    font-size: 18px;
}

.header-right {
    width: 168px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

hr {
    width: 100%;
    border: 1px solid #202741;
    margin-top: 30px;
    display: none;
}

.header-left {
    width: 410px;
    margin-left: 20px;
}

.title {
    font-size: 36px;
    margin-left: 16px;
    margin-bottom: 8px;
    color: white;
}

/* switch ------------- */
.switch {
    margin-left: 16px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(70deg, #2f94e2, #30d68a);
    /* -webkit-transition: .4s; */
    transition: 0.4s;
    width: 60px;
    border-radius: 28px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 6px;
    bottom: 4px;
    background-color: #1a1c2b;
    /* -webkit-transition: .4s; */
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px); */
    transform: translateX(26px);
}

/* mobile */
@media screen and (max-width: 750px) {
    .main-container {
        width: 400px;
    }

    .title {
        margin-left: 0;
        font-size: 24px
    }

    .small-cards-title {
        font-size: 24px;
        margin-left: 10px;
        margin: 30px 20px;
    }

    .header {
        width: 330px;
        flex-direction: column;
        margin: 40px auto 30px;
    }

    hr {
        display: block;
    }

    .header-right {
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }

    .header-left {
        margin: 0;
        width: 100%;
    }

    .cards-container,
    .small-cards-container {
        justify-content: center;
    }

    .switch {
        margin-right: 10px;
    }

    .header-label {
        font-size: 14px;
    }

    .main-card {
        height: 216px;
        margin: 12px;
    }

    .main-small-card {
        height: 124px;
        margin: 8px;
    }

    .social-counter {
        font-size: 58px;
    }

    .social-followers {
        font-size: 12px;
    }

    .label {
        font-size: 14px;
    }

    .social-nick,
    .social-followers,
    .social-change,
    .small-social-change {
        font-size: 12px;
    }

    .counter {
        font-size: 32px;
    }
}

/* temp */
img {
    margin: 20px;
}

/* light theme */
html.light {
    background-color: white;
}

.background-bar.light {
    background-color: #f7f9ff;
}

.main-card.light,
.main-small-card.light {
    background-color: #f1f3fa;
}

.main-card.light:hover,
.main-small-card.light:hover {
    background-color: #e1e3ea;
}

.social-counter.light,
.title.light,
.counter.light {
    color: #1d1f29;
}

.small-cards-title.light,
.grey.light {
    color: #63687d;
}

hr.light {
    border-color: #63687d;
}

/* tmp świecący pasek */
.main-card {
    position: relative;
    /* overflow: visible; */
}

.main-card::before {
    content: "";
    position: absolute;
    top: 0px;
    height: 5px;
    left: -2px;
    right: -2px;
    opacity: 0;
    box-shadow: 0px 0px 10px #ff03f2;
    z-index: -1;
    transition: all 0.5s ease;
}

.main-card:hover::before {
    overflow: visible;
    z-index: 10;
    opacity: 1;
    /* box-shadow: 0px 0px 10px #ff03f2; */
}